/* Variables */
:root {
  --text-color: #232832;
  --primary-color: #874fee;
  --warning-color: #e23e58;
  --succes-color: #4fe48f;
  --neutral-color: #fefeff;
  --star-color: #fcc521;
  --box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
}

/* Global body styling */
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif !important;
  color: var(--text-color) !important;
}

/* Navigation styling */
.shop-nav {
  padding: 1rem 5rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.brand-name {
  font-family: "Abril Fatface", cursive;
  font-size: 3rem;
  color: var(--primary-color);
  font-weight: bold;
}

form .search-field {
  font-size: 1.1rem;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

form .search-button {
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--neutral-color);
}

form .search-button:hover {
  background-color: var(--text-color);
  color: var(--neutral-color);
}

/* Main area styling */
.main {
  padding: 1rem 3rem;
}

/* Product area styling */
.all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

/* Single product card styling */
.single-product {
  width: 300px;
  height: 450px;
  padding: 10px;
  transition: 0.6s;
}

.single-product h3 {
  min-height: 50px;
  margin-top: 1rem;
  font-size: 1rem;
}

.single-product:hover {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  border: 1px dotted var(--primary-color);
}

.product-image {
  width: 150px;
  height: 150px;
}

.single-product .rating-area {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
}

/* Product ratings */
.rating-area .fa-star {
  color: var(--star-color);
}

.rating-area .fa-user {
  color: var(--primary-color);
}

/* Product buttons */
.single-product .cart-btn {
  background-color: var(--succes-color);
}

.single-product .details-btn {
  color: var(--neutral-color);
  background-color: var(--primary-color);
}

/* Cart styling */
.cart {
  width: 350px;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--neutral-color);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}

/* Cart body */
.cart > table,
thead,
tbody {
  color: var(--neutral-color);
}

/* Cart button */
.cart .buy-now {
  background-color: var(--text-color);
  color: var(--neutral-color);
}

.cart .buy-now:hover {
  background-color: var(--neutral-color);
}

/* Media queries */
@media only screen and (min-width: 300px) and (max-width: 768px) {
  .shop-nav {
    padding: 0;
    margin: 0;
  }

  .container > a {
    text-align: center;
  }

  .brand-name {
    font-size: 2rem;
  }

  form {
    visibility: hidden;
  }

  .all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .cart {
    position: absolute;
    margin: 0;
    top: 2;
    left: 14px;
  }
}
